@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.project_container{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 200px;
    align-items: center;
}
.projectContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectContainer>h1{
    padding-bottom: 15px;
}
.projectContainer>p{
    padding-bottom: 20px;
}