.contacts{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    margin: 200px 0 100px;
    align-items: center;
}
.contact_container{
    border: 2px solid white;
    width: 400px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;

}
.contact_container>p{
    font-size: 20px;
    text-align: left;
    padding-bottom: 8px;
}
.contact_container>p>span{
    color: chartreuse;
}
.contact_icons>a>button>span>.MuiIconButton-root{
    color: white;
}